<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/images/favi.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main_content">

        {{>header}}
        <h2>This is Rahul Mahajan! Maintainer & Owner of this Website.</h2>
        <img src="/images/img.png" class='about_img'>

    </div>

    {{>fotter}}
</body>
</html>