<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/images/favi.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main_content">

    {{>header}}

    </div>

    {{>fotter}}

</body>
</html>