<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <link rel="icon" href="/images/favi.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class='main_content'>
    {{>header}}
    <h4>{{content}}</h4>

    <form>
        <input placeholder="Location" name="locat">
        <button>search</button>
    </form>

    <p id='f_para'></p>
    <p id='s_para'></p>

    </div>

    {{>fotter}}

    <script src="/js/app.js"></script>

</body>
</html>