<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>

    {{>header}}

    <h1>the weather details of delhi is as following:</h1>
    <h3>temperature: {{temp}}</h3>
    <h3>precipitation: {{precip}}</h3>
    <h3>description: {{descrip}}</h3>

</body>
</html>